body{ background-color:#FFC0CB;  }

div{ color: #55514D; font-family: 'Trebuchet MS', sans-serif; }
.div1{ text-align: center; background-color: #EAE1DD}
h1{ font-size: 50px; padding-top: 0px } 
.div2{ text-align: center; }
h2{ font-size: 25px; padding-top: 10px; padding-bottom: 10px; }

.div3{ margin-left: 300px; height: 400px; width: 300px; /*background-color: red;*/
	float: left; }

img{ height: 400px; width: 300px; 
	border-radius: 50% 50% 50% 2%; cursor: pointer;}
img:hover{ opacity: 0.9 }

.div4{ ;margin-right: 300px; height: 450px}
h3{ font-size: 50px; margin-left: 610px }
.a{ font-size: 30px }
span{ color: orange }
.b{ font-size: 15px; }
.c{ font-size: 18px }
h4{ color: #55514D; font-family: 'Trebuchet MS', sans-serif;
	font-size: 15px; text-align: center; }
h5{ color: #55514D; font-family: 'Trebuchet MS', sans-serif;
	font-size: 20px; text-align: center; }